

.icon.icon--chevron.dropdown-indicator__icon {
  --base-px: 20;
  --base-body-size: 13;
  --base: calc((var(--base-px) / var(--base-body-size)) * 1rem);
}
/*TODO: fix multi-value borders*/
.multi-value {
  border: 4px;
}
